{% extends 'ui/base.html.twig' %}

{% block body %}

    <section class="orders spad">
        <div class="container">
            <table class="table">
                <thead>
                    <th>test</th>
                    <th>test</th>
                    <th>test</th>
                </thead>
                <tbody>
                    <tr>
                        <td>blabla</td>
                        <td>blabla</td>
                        <td>blabla</td>
                    </tr>
                    <tr>
                        <td>blabla</td>
                        <td>blabla</td>
                        <td>blabla</td>
                    </tr>
                    <tr>
                        <td>blabla</td>
                        <td>blabla</td>
                        <td>blabla</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
