<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="/theme/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Collection d'été</h6>
                            <h2>Fall - Collection 2033</h2>
                            <p>Une collection luxueuse spéciale. Pensée et créée pour des personnes exceptionnelles.</p>
                            <a href="{{ path('ui_shop_index') }}" class="primary-btn">Acheter maintenant <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/theme/img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Collection d'hiver</h6>
                            <h2>Winter - Collection 2033</h2>
                            <p>Une collection confortable unique. Plus de chaleur, moins de fraîcheur.</p>
                            <a href="{{ path('ui_shop_index') }}" class="primary-btn">Acheter maintenant <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
